.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111; /* さらに暗い背景色 */
  color: #f1f1f1; /* 明るい白色に変更 */
  padding: 10px 20px;
}

.header__title {
  font-size: 1.5rem;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__username {
  font-weight: bold;
}

.header__user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__button {
  background-color: #d32f2f; /* 強い赤色に変更 */
  color: #ffffff; /* 白色の文字 */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.header__button:hover {
  background-color: #b71c1c; /* ホバー時にさらに濃い赤色 */
}
